* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #edf2f4;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


/* Make it liquid */

#product-wrapper {
    margin: 0 auto;
    width: 1170px;
    height: auto;
    padding-bottom: 100px;
}

h1 {
    font-size: 2.1em;
    padding-left: 30px;
}

h2 {
    font-size: 2.1em;
}

#picture-wrapper {
    width: 100%;
    padding-bottom: 130px;
    display: block
}

#product-picture {
    width: 60%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}

#product-fav-and-buy {
    width: 40%;
    display: inline-block;
    float: right;
}


/*buttons*/

.add-for-buy,
.add-to-fav {
    background-color: blue;
    ;
    /* Green */
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.specifications {
    width: 100%;
}

.table-specifications {
    width: 80%;
    padding-left: 5%;
}

.col-xs-4 text-muted {
    padding: 10px;
    line-height: 1.5;
}

.col-xs-8 {
    padding: 10px;
    line-height: 1.5;
}

.col-md-12 {
    width: 100%;
    padding-top: 20px;
}

.button {
    background-color: blue;
    ;
    /* Green */
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.button:hover {
    background: red;
}

#comment_logs {
    margin: 5px;
    padding: 5px;
}

.comments_content {
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #008cba;
}

#comm-name {
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    color: #4040E6;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#comments-data {
    font-size: 15px;
    font-family: Verdana, Geneva, sans-serif;
    color: rgba(5, 1, 7, 0.44);
}

#comm-mess {
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #75A3A3;
    padding-bottom: 5px;
    margin-bottom: 5px
}

#comm-del {
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    color: #CECED6;
    text-decoration: none;
    float: right;
}